/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*basic font size*/
html {
    font-size: 18px;
}

/*colors - variables*/
:root {
    --bright-blue: hsl(231, 69%, 60%);
    --dark-blue: hsl(229, 31%, 21%);
    --bright-red: hsl(0, 94%, 66%);
    --grey: hsl(229, 8%, 60%);
}

/*set fonts, basic color and delete underlines*/
p, a, h1, h2, h3, h4, h5, h6, button, input {
    font-family: 'Rubik', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

a, p, button {
    font-size: 1rem;
}
